.main-box {
    background-color: blue;
    display: flex;
}
.first-box {
    background-color: rgb(217, 255, 0);
    flex: 1;
    display: flex;
    flex-direction: column;


}
.first-box-a{
    background-color: hwb(260 1% 98%);
    flex: 1;


}
.first-box-b{
    background-color: hwb(260 1% 98%);
    flex: 1;


}
.second-box {
    background-color: rgb(217, 255, 0);
    flex: 1;
    


}
.tax-disable {
    color: #BFBFBF;
		font-weight: 500;
		font-size: 12px;
}
.green-number {
    color: green;
}
