.section .navbar {
    background-color: rgba(red, green, blue, alpha);

}

body {
    padding-top: 120px;
    background: linear-gradient(90deg, yellow, red);

}

.navbar button {
    margin-left: 10px;
}

.bi {
    padding: 10px;
}

.input-icons i {
    position: absolute;
    margin: -3px 0px 0px 0px;
}

.form-control {
    text-align: start;
    text-indent: 20px;
}
/* question why it doesn;t work here */
/* .header .dropdown-menu {
    margin-top: 300px;

} */
#signupdropdownform {
    margin-top: 43px;
    margin-left: -650px;
    /* border: 3px solid red; */
    width: 30rem;
    border-radius: 10px;
    width: 400px;
    /* box-shadow: 0px 0px 0px 1px #380404; */

}

.section-1 h1 {
    text-align: center;
    color: white
}

.section-1 .card {
    background: linear-gradient(-45deg, green, rgb(225, 255, 0));
    border-radius: 20px;
}

.section-1 strong {
    color: red;
}

.category {
    text-align: center;

}

#dairy {
    object-fit: cover;
    width: 200px;
    height: 200px;


}

#poultry {
    margin-top: 30px;

}

.section-2 .card-img-top {
    object-fit: cover;
    width: auto;
    height: fit-content;
    border-radius: 200px;
}

.section-2 h5 {
    padding-left: 70px;

}

.section-2 span {
    color: rgb(8, 159, 61);
    font-size: larger;

}

.section-2 span:hover {
    font-size: x-large;
    color: white;

}

.section-2 .container {
    justify-items: center;
}

.section-2 .card {
    width: 200px;
    height: 200px;
    border-radius: 200px;

}
.section-2 .card:hover {
    box-shadow: 300px;
}

.dashboardspan {
    font-size: 50px;
}

.section-3 .card-footer {
    background-color: aqua;

}

.section-3 .card {
    border-radius: 100px;
    /* border: 3px solid red; */
    background: linear-gradient(-45deg, rgb(218, 219, 214), rgb(4, 235, 96));
}

.section-3 .dashboardspan {
    font-size: 40px;
}

.section-4 .card-title {
    font-size: 60px;
    color: yellow;
}

.section-4 .small {
    font-size: 30px;
    color: yellow;
}

.section-4 span {
    font-size: 60px;
    color: red;
}

.section-4 .card-body {
    background: linear-gradient(-45deg, yellow, rgb(4, 78, 41));
    border-radius: 30px;

}

.section-4 .card {
    border-radius: 30px;

}

.footer h2 span {
    color: rgb(0, 102, 255);
}

.footer-about span {
    font-size: xx-large;
    color: rgb(0, 102, 255);
}

body {
    padding-top: 120px;
    background: linear-gradient(90deg, yellow, red);

}

.main-box {
    background-color: blue;
    display: flex;
}

.first-box {
    background-color: rgb(217, 255, 0);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.first-box-a {
    background-color: hwb(260 1% 98%);
    flex: 1;
}

.first-box-b {
    background-color: hwb(260 1% 98%);
    flex: 1;
}

.second-box {
    background-color: rgb(217, 255, 0);
    flex: 1;

}

.tax-disable {
    color: #BFBFBF;
    font-weight: 500;
    font-size: 12px;
}

.green-number {
    color: green;
}

.main-box {
    background-color: blue;
    display: flex;
}

.first-box {
    background-color: rgb(217, 255, 0);
    flex: 1;
    display: flex;
    flex-direction: column;

}

.first-box .card-header {
    font-size: xx-large;
    color: red;
}

.first-box-a {
    background-color: hwb(260 1% 98%);
    flex: 1;
}

.first-box-b {
    background-color: hwb(260 1% 98%);
    flex: 1;
}

.second-box {
    background: linear-gradient(90deg, rgb(11, 11, 10), red);
    flex: 1;

}

.tax-disable {
    color: #BFBFBF;
    font-weight: 500;
    font-size: 12px;
}

.green-number {
    color: green;
}

.footer h2 span {
    color: rgb(0, 102, 255);
}

.footer-about span {
    font-size: xx-large;
    color: rgb(0, 102, 255);
}

.produceBox {
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
}

.produceCard {
    width: 200px;
    height: 300px;
    padding: 10px;
}

.produceCard-body {
    background-color: aliceblue;
    border-radius: 20px;

}

.produceCard-body img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.produceCard-body h4 {
    font-size: xx-large;
    text-align: center;
}

.produceCard-body .btn {
    width: 180px;
    border-radius: 200px;

}

.produceMain .proSection-1 {
    position: fixed;
    background-color: white;
}

.proSection-1 h2 {
    margin-left: 36px;
    margin-top: 20px;
    width: 2000px;
    color: rgb(7, 170, 12);


}

.proSection-1 span {
    font-size: large;
    color: #df1028;

}

hr {
    margin-left: 40px;
    margin-right: 40px;
}

.signupcard {
    display: flex;
    /* flex-direction: column; */
    /* height: 800px; */
    /* width: 1200px; */
    /* background-color: rgb(147, 157, 188); */
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-items: center; */
    /* row-gap: 90px; */
    column-gap: 10px;

}

.card-1 {
    /* color: rgb(0, 255, 183); */
    /* background-color: red; */
    flex-grow: 1;
    /* width:400px */
    /* justify-content: center; */

}
.card-2 {
    /* color: rgb(255, 0, 183); */
    /* background-color: rgb(0, 255, 225); */
    flex-grow: 1;
    /* height: 689px; */
    /* width:400px; */
    /* padding-left: -200px; */
    /* justify-content: center; */
    /* align-items: center; */


}
@media screen and (max-width: 900px) {
    .signupcard {
        display: flex;
        flex-direction: column;
        /* height: 800px; */
        /* width: 1200px; */
        /* background-color: rgb(147, 157, 188); */
        /* justify-content: center; */
        /* justify-items: center; */
        /* align-items: center; */
        /* row-gap: 90px; */
        row-gap: 10px;
        /* justify-content: center; */
        justify-items: center;
        align-items: center;
    
    }

}